.container
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @comment, url: board_task_comments_path(@board, @task), local: true) do |f|
    %div
      = f.label :content, '内容'
    %div
      = f.text_area :content
    = f.submit 'submit', class: 'btn-primary'
