.container
  %ul
  - @task.errors.full_messages.each do |message|
    %li= message
  %h2.Page_title New Task
  = form_with(model: @task, url: board_tasks_path, method: 'post', local: true) do |f|
    %div
      = f.label :title, 'Name', class:'label1'
    %div
      = f.text_field :title, class:'text1'
    %div
      = f.label :content, 'Description', class:'label2'
    %div
      = f.text_area :content
    = f.submit 'Submit', class: 'btn-primary'
