.container
  .task_show
    %h1.task_show_title= @task.title
    .task_image
      = image_tag @task.eyecatch
    .task
      .task_detail
        = @task.content
    .dropdown.taskbtn
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini.d2
        = link_to '編集する', edit_board_task_path(@board,@task)
        = link_to '削除する', board_task_path(@board,@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
