.container
  %h1 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, class: 'label1'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text1'
    .field
      = f.label :password, class: 'label2'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'text2'
    .actions
      = f.submit "Log in", class: 'btn-primary'
  = render "devise/shared/links"
