.card
  .card_content
    = link_to board_tasks_path(board) do
      .card_title
        = board.title
      .card_detail
        = board.content
      %div.card_author
        = image_tag 'Oval.png', class: 'header_avatar dropbtn'
  .dropdown.d1
    = image_tag 'actions.svg', class: 'dropbtn'
    .dropdown-content.mini
      = link_to '編集する', edit_board_path(board)
      = link_to '削除する', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
