= link_to board_path(board) do
  .card
    .card_content
      .card_title
        = board.title
      .card_detail
        = board.content
        %div
          %p= board.author_name
    .dropdown
      = image_tag 'actions.svg', class: 'board3 dropbtn'
      .dropdown-content.mini
        = link_to '編集する', edit_board_path(board)
        = link_to '削除する', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
